* {
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

html, body {
    margin: 0;
    height: 100%;
    background-image: url(./flowerBg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: #7F557D;
    color: white;
    padding: .5rem;
    font-size: xx-small;
}

button {
    background: #7F557D;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    cursor: url(/public/cursor.png);
    cursor: url(/public/cursor.png);
}
button:hover {
    background: #60425e;
}

.deleteBtn {
    position: absolute;
    top: 5%;
    right: 10%;
    transition: transform .2s;
    cursor: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.deviantart.com%2Fsashasonesica%2Fart%2FPink-Flower-PNG-400372156&psig=AOvVaw2ro-dWvzt1gMG1wOwHJRES&ust=1618587328846000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODJv-jJgPACFQAAAAAdAAAAABAd');
}
.deleteBtn:hover {
    transform: scale(1.5);
}

input {
    background: rgba(127, 85, 125, 0.44);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: .2rem;
}

.modifyArea {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.specificParagraf {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align:start;
}

/* #allFlowersDiv {
    background: lawngreen;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */
.arrayContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem;
    flex-wrap: wrap;
}

.flowerUL {
    position: relative;
    background: #6C7252;
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
}


.material-icons {
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .modifyArea {
        flex-direction: column; 
    }
}